apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
  namespace: ivolve
spec:
  type: NodePort
  selector:
    app: nodejs-app
  ports:
  - port: 80
    targetPort: 3000
    nodePort: 30080
